@media screen and (max-width: 870px){
    .showcase-area .right-side::before{
        margin-left: var(--mb-1-5);
        width: 10rem;
        height: 10rem;
    }
    .showcase-area .big-title{
        font-size: var(--normal-font-size) !important;
    }
    .heading span{
        font-size: var(--small-font-size);
        background: var(--simple);
        padding: .1rem .3rem;
        border-radius: .3rem;
    }
}